@import "tailwindcss";

:root {
    --background-primary: var(--color-neutral-950);
    --background-secondary: var(--color-neutral-900);
    --background-light: var(--color-neutral-800);
    --primary-color: var(--color-neutral-50);
    --font-primary: var(--color-neutral-50);
    --font-muted: var(--color-neutral-500);
    --border-primary: var(--color-neutral-700);
}

.light {
    --background-primary: var(--color-neutral-50);
    --background-secondary: var(--color-white);
    --background-light: var(--color-neutral-300);
    --border-primary: var(--color-neutral-300);
    --primary-color: var(--color-neutral-950);
    --font-primary: var(--color-netral-950);
    --font-muted: var(--color-neutral-500);
}

@theme {
    --color-primary-bg: var(--background-primary);
    --color-secondary-bg: var(--background-secondary);
    --color-light-bg: var(--background-light);
    --color-primary: var(--primary-color);
    --color-primary-font: var(--font-primary);
    --color-muted-font: var(--font-muted);
    --color-primary-bd: var(--border-primary);
    --font-inter: "Inter";
    --font-noto-sans-jp: "Noto Sans JP";
    --font-aux-mono: "Aux Mono";
}
@font-face {
    font-family: "Aux Mono";
    src: url("/fonts/AuxMono-Regular.eot");
    src:
        local("Aux Mono"),
        local("AuxMono-Regular"),
        url("/fonts/AuxMono-Regular.eot?#iefix") format("embedded-opentype"),
        url("/fonts/AuxMono-Regular.woff2") format("woff2"),
        url("/fonts/AuxMono-Regular.woff") format("woff"),
        url("/fonts/AuxMono-Regular.ttf") format("truetype");
}
